<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocessary Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/script.js"></script>
</head>

<body>
   
    <section class="home" id="home">
        <div class="intro">
            <h3><span class="b">Beautifull</span> and <span class="a">Colourfull</span> long lastic wears</h3>

            <p>
                Welcome to Sunfit Sports Wear! Discover our high-performance, stylish sportswear designed to keep you
                comfortable and looking great during every workout.Sunfit Sports Wear has the perfect gear for you.
                Explore our collection today and elevate your fitness experience!
            </p>
            <a href="" class="btn">Shop Now</a>
        </div>
      <img src="~/images/pngegg (5).png" />
    </section>
    <section class="features" id="features">
        <h1 class="heading">Our <span>Features</span></h1>
        <div class="box-container">
            <div class="box">
              
                <img src="~/images/pngegg (9).png" />
                <h3>Green Hoddie</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit molestiae porro nobis ducimus animi
                    assumenda
                </p>
                <a href="" class="btn">Click here</a>
            </div>

            <div class="box">
               
                <img src="~/images/pngegg (8).png" />
                <h3>Red Hoddie</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit molestiae porro nobis ducimus animi
                    assumenda
                </p>
                <a href="" class="btn">Click here</a>
            </div>
            <div class="box">
              
                <img src="~/images/pngegg (7).png" />
                <h3>Black Hoddie</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit molestiae porro nobis ducimus animi
                    assumenda
                </p>
                <a href="" class="btn">Click here</a>
            </div>
        </div>
    </section>
    <section class="product" id="product">
        <h1 class="heading">Our <span>Products</span></h1>
        <div class="produc-slider">
            <div class="wrapper">
                <div class="box">
                    <img src="~/images/pngegg (7).png" />
                    <h3>Black Hoddie</h3>
                    <p>$15/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                    
                    <img src="~/images/pngegg (8).png" />
                    <h3>Red Hoddie</h3>
                    <p>$16/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                    <img src="~/images/pngegg (9).png" />
                    <h3>Black Hoddie</h3>
                    <p>$18/--</p>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="box">
             
                    <img src="~/images/pngegg (7).png" />
                    <h3>Black Hoddie</h3>
                    <p>$15/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                    <img src="~/images/pngegg (8).png" />
                    <h3>Red Hoddie</h3>
                    <p>$16/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                    <img src="~/images/pngegg (7).png" />
                    <h3>Black Hoddie</h3>
                    <p>$18/--</p>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="box">
                    <img src="~/images/pngegg (9).png" />
                    <h3>Green Hoddie</h3>
                    <p>$15/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                 
                    <img src="~/images/pngegg (10).png" />
                    <h3>Grey Hoddie</h3>
                    <p>$16/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                   
                    <img src="~/images/pngegg (11).png" />
                    <h3>White Hoddie</h3>
                    <p>$18/--</p>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
            </div>
        </div>
    </section>
    <section class="categories" id="categories">
        <h1 class="heading">Our <span>Categories</span></h1>
        <div class="box-container cont">
            <div class="box">
                
                <img src="~/images/pngegg (15).png" />
                <h3>Inner Wear</h3>
                <p>$15/-- </p>
                <div class="stars">

                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">
               
                <img src="~/images/pngegg (16).png" />
                <h3>Tracksuits</h3>
                <p>$15/-- </p>
                <div class="stars">

                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">
               
                <img src="~/images/pngegg (14).png" />
                <h3>Football kit</h3>
                <p>$16/-- </p>
                <div class="stars">

                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">
               
                <img src="~/images/pngegg (13).png" />
                <h3>Bollywall kit </h3>
                <p>$18/--</p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
        </div>
    </section>
    <section class="reviews" id="reviews">
        <h1 class="heading">Our <span>Reviews</span></h1>
        <div class="box-container">
            <div class="box">
              
                <img src="~/images/muzamil.jpg" />
                <h3>Muzamil</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, maiores, odio autem libero, dicta cupiditate atque </p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">
                
                <img src="~/images/atif.jpg" />
                <h3>Atif Shahzad</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, maiores, odio autem libero, dicta cupiditate atque </p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">
             
                <img src="~/images/adil.jpg" />
                <h3>Adil</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, maiores, odio autem libero, dicta cupiditate atque </p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
        </div>
    </section>
   


    <script src="/script/script.js"></script>
</body>

</html>