<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocessary Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/script.js"></script>
</head>

<body>

   
   
    <section class="categories" id="categories">
        <h1 class="heading">Our <span>Categories</span></h1>
        <div class="box-container cont">
            <div class="box">

                <img src="~/images/pngegg (15).png" />
                <h3>Inner Wear</h3>
                <p>$15/-- </p>
                <div class="stars">

                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">

                <img src="~/images/pngegg (16).png" />
                <h3>Tracksuits</h3>
                <p>$15/-- </p>
                <div class="stars">

                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">

                <img src="~/images/pngegg (14).png" />
                <h3>Football kit</h3>
                <p>$16/-- </p>
                <div class="stars">

                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">

                <img src="~/images/pngegg (13).png" />
                <h3>Bollywall kit </h3>
                <p>$18/--</p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
        </div>
    </section>
    


    <script src="/script/script.js"></script>
</body>

</html>