<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocessary Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/script.js"></script>
</head>

<body>

    
    
    <section class="product" id="product">
        <h1 class="heading">Our <span>Products</span></h1>
        <div class="produc-slider">
            <div class="wrapper">
                <div class="box">
                    <img src="~/images/pngegg (7).png" />
                    <h3>Black Hoddie</h3>
                    <p>$15/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">

                    <img src="~/images/pngegg (8).png" />
                    <h3>Red Hoddie</h3>
                    <p>$16/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                    <img src="~/images/pngegg (9).png" />
                    <h3>Black Hoddie</h3>
                    <p>$18/--</p>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="box">

                    <img src="~/images/pngegg (7).png" />
                    <h3>Black Hoddie</h3>
                    <p>$15/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                    <img src="~/images/pngegg (8).png" />
                    <h3>Red Hoddie</h3>
                    <p>$16/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">
                    <img src="~/images/pngegg (7).png" />
                    <h3>Black Hoddie</h3>
                    <p>$18/--</p>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="box">
                    <img src="~/images/pngegg (9).png" />
                    <h3>Green Hoddie</h3>
                    <p>$15/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">

                    <img src="~/images/pngegg (10).png" />
                    <h3>Grey Hoddie</h3>
                    <p>$16/-- </p>
                    <div class="stars">

                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
                <div class="box">

                    <img src="~/images/pngegg (11).png" />
                    <h3>White Hoddie</h3>
                    <p>$18/--</p>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="" class="btn">Add to Card</a>
                </div>
            </div>
        </div>
    </section>
   

    <script src="/script/script.js"></script>
</body>

</html>