<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocessary Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/script.js"></script>
</head>

<body>

    
   
   
    <section class="reviews" id="reviews">
        <h1 class="heading">Our <span>Reviews</span></h1>
        <div class="box-container">
            <div class="box">

                <img src="~/images/muzamil.jpg" />
                <h3>Muzamil</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, maiores, odio autem libero, dicta cupiditate atque </p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">

                <img src="~/images/atif.jpg" />
                <h3>Atif Shahzad</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, maiores, odio autem libero, dicta cupiditate atque </p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
            <div class="box">

                <img src="~/images/adil.jpg" />
                <h3>Adil</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, maiores, odio autem libero, dicta cupiditate atque </p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="" class="btn">Shop now</a>
            </div>
        </div>
    </section>
    


    <script src="/script/script.js"></script>
</body>

</html>